<!DOCTYPE html>
<head>
  <title>CookieGPT</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='cookie.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body >
  <img src="{{ url_for('static', filename='cookiemonster.png') }}"/>
  <h3>CookieGPT</h3>
  
  <form action="/" method="post">
    <button type="submit">        
      <img src="{{ url_for('static', filename='cookie.png') }}" class="icon"/>
    </button>
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
